<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TestMapper">

    <select id="getNewCode" resultType="String">
        SELECT
        p.trip_place_code
        FROM
        trip_place AS p
        WHERE
        p.user_code_no = #{userCodeNo} and p.trip_place_code like CONCAT('%',#{today},'%')
        ORDER BY
        p.trip_place_no desc
        LIMIT 1
        ;
    </select>

    <insert id="insertTripPlace" parameterType="com.example.demo.domain.SetPlace" useGeneratedKeys="true" keyProperty="tripPlaceNo">
        INSERT INTO trip_place
        (user_code_no, trip_place_code, trip_place_name, trip_place_add0, trip_place_add1,
            trip_place_add2, trip_place_add3, trip_place_text, trip_place_latitude, trip_place_longitude,
            trip_place_get_path, trip_place_set_path)
        VALUES
        (#{userCodeNo}, #{tripPlaceCode}, #{tripPlaceName}, #{tripPlaceAdd0}, #{tripPlaceAdd1},
            #{tripPlaceAdd2}, #{tripPlaceAdd3}, #{tripPlaceText}, #{tripPlaceLatitude}, #{tripPlaceLongitude},
            #{tripPlaceGetPath}, #{tripPlaceSetPath})
        ;
    </insert>

    <insert id="insertPlaceImgN">
        INSERT INTO trip_place_img
        (trip_place_no, trip_place_img_path)
        VALUES
        (#{tripPlaceNo}, #{s3Add})
        ;
    </insert>

    <insert id="insertPlaceImgB">
        INSERT INTO trip_place_b_img
        (trip_place_no, trip_place_b_img_path)
        VALUES
        (#{tripPlaceNo}, #{s3Add})
        ;
    </insert>

<!--    -->
<!--    -->
    <insert id="insertAlarmUserToUser">
        insert into alarm_history
        (alarm_history_sender, alarm_history_receiver, alarm_kinds_no, page_kinds_no)
        values
        (#{alarmHistorySender}, #{alarmHistoryReceiver}, #{alarmKindsNo}, #{pageKindsNo});
        ;
    </insert>

    <select id="getAlarmKinds" resultType="com.example.demo.domain.GetAlarmKinds">
        SELECT
        ak.alarm_kinds_no,
        ak.alarm_kinds_name_en,
        ak.alarm_kinds_name_kr,
        ak.alarm_kinds_title,
        ak.alarm_kinds_text,
        ak.server_kinds_no,
        sk.server_kinds,
        ak.alarm_kinds_useflag,
        ak.insert_ts,
        ak.update_ts
        FROM
        alarm_kinds as ak LEFT JOIN server_kinds AS sk ON ak.server_kinds_no = sk.server_kinds_no
        where
        ak.alarm_kinds_no = #{alarmKindsNo} and ak.alarm_kinds_useflag = 1
        ;
    </select>

    <select id="getUserNickname" resultType="String">
        SELECT uc.nickname from user_code as uc where uc.user_code_no = #{alarmReceiver}
        limit 1
        ;
    </select>

    <select id="getToken" resultType="String">
        SELECT uf.user_fcm_token from user_fcm as uf where uf.user_code_no = #{alarmReceiver}
        limit 1
        ;
    </select>
    <!--/-->
    <!--/-->
    <!--/-->
    <!--/-->
    <!--/-->
    <select id="getTripReport" resultType="com.example.demo.domain.GetTripReport">
        SELECT
        tc.user_code_no,
        ucn.nickname,
        ucn.user_id,
        tc.trip_course_no,
        tc.trip_course_code,
        IFNULL(tcl.like_count, 0) as like_count,
        tc.trip_course_name,
        tc.trip_course_get_path,
        tc.insert_ts,
        tc.update_ts,
        '' AS recommend_mate,
        '' AS recommend_trip_place
        FROM trip_course AS tc
        LEFT JOIN user_code AS ucn ON tc.user_code_no = ucn.user_code_no
        LEFT JOIN (
        SELECT tcl.trip_course_no, COUNT(*) AS like_count FROM trip_course_like as tcl
        GROUP BY tcl.trip_course_no
        ) AS tcl ON tc.trip_course_no = tcl.trip_course_no
        WHERE
        tc.user_code_no = #{userCodeNo} AND tc.trip_course_no = #{tripCourseNo}
        LIMIT 1
        ;
    </select>

    <select id="getPlacePosInTripCourseNo" resultType="HashMap">
        SELECT tp.trip_place_no, tp.trip_place_latitude, tp.trip_place_longitude FROM trip_place AS tp WHERE tp.trip_place_no in
        (
        SELECT tcp.trip_place_no FROM trip_course_place AS tcp WHERE tcp.trip_course_no = #{tripCourseNo}
        )
        and tp.area_no = 1
        ;
    </select>

    <select id="getPlacePosInTripPlaceData" resultType="HashMap">
        SELECT
        tp.trip_place_no,
        tp.trip_place_latitude,
        tp.trip_place_longitude
        FROM
        trip_place AS tp WHERE tp.area_no = 1
        ;
    </select>

    <select id="getPlacesRecommand" resultType="com.example.demo.domain.GetPlace">
        SELECT
        p.user_code_no,
        u.nickname,
        p.trip_place_no,
        p.trip_place_code,
        p.trip_place_name,
        p.trip_place_add0,
        p.trip_place_add1,
        p.trip_place_add2,
        p.trip_place_add3,
        p.trip_place_text,
        p.area_no,
        p.world_flag,
        p.star_rating,
        IFNULL(tpl.like_count, 0) AS like_count,
        '' as category_list,
        p.trip_place_latitude,
        p.trip_place_longitude,
        '' as place_img_list,
        '' as place_b_img_list,
        p.insert_ts,
        p.update_ts
        FROM trip_place AS p
        LEFT JOIN user_code AS u ON p.user_code_no = u.user_code_no
        LEFT JOIN (
        SELECT tpl.trip_place_no, COUNT(*) as like_count FROM trip_place_like as tpl
        GROUP BY tpl.trip_place_no
        ) AS tpl ON p.trip_place_no = tpl.trip_place_no
        WHERE
        p.trip_place_no in
        <foreach collection="list" item="arr" open="(" close=")" separator=",">
            #{arr}
        </foreach>
        order by like_count desc
        limit 3
        ;
    </select>

    <select id="getPlaceCategory" resultType="com.example.demo.domain.GetCategory">
        SELECT
        c.category_no,
        c.category_name,
        c.category_kinds_no,
        c.category_useflag,
        tpc.insert_ts,
        tpc.update_ts
        FROM
        trip_place_category AS tpc
        LEFT JOIN category AS c ON tpc.category_no = c.category_no
        WHERE
        trip_place_no = #{tripNo}
        ;
    </select>

    <select id="getLikeMate" resultType="Int">
        SELECT DISTINCT tpl.user_code_no
        FROM
        trip_place_like as tpl
        where
        tpl.trip_place_no IN (
        SELECT tcp.trip_place_no FROM trip_course_place AS tcp WHERE tcp.trip_course_no = #{tripCourseNo}
        );
    </select>

    <select id="getMateOfMate" resultType="Int">
        SELECT distinct f.follower_user_code_no
        FROM
        following AS f
        WHERE
        f.user_code_no IN (SELECT distinct ff.follower_user_code_no FROM following as ff WHERE ff.user_code_no = #{userCodeNo});
        ;
    </select>

    <select id="getMateRecommand" resultType="com.example.demo.domain.GetFollowing">
        SELECT
        uc.user_code_no,
        uc.nickname,
        uc.user_id
        FROM
        user_code AS uc
        WHERE
        uc.user_code_no in
        <foreach collection="list" item="arr" open="(" close=")" separator=",">
            #{arr}
        </foreach>
        limit 3
        ;
    </select>

    <select id="getPlaceImgList" resultType="com.example.demo.domain.GetPlaceImg">
        SELECT * FROM trip_place_img AS tpi WHERE tpi.trip_place_no = #{tripPlaceNo};
        ;
    </select>

    <select id="getPlaceBImgList" resultType="com.example.demo.domain.GetPlaceBImg">
        SELECT * FROM trip_place_b_img AS tpbi WHERE tpbi.trip_place_no = #{tripPlaceNo};
        ;
    </select>
</mapper>